body {
    background-color: rgb(117, 191, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.common {
    background-color: rgb(95, 202, 255);
    border: 2px solid white;
    position: absolute;
}

.header {
    height: 170px;
    top: 5px;
    left: 5px;
    right: 5px;
    padding: 15px;

    background-image: url('../images/byucampus.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    color: white;
    text-align: center;
}

.leftmenu {
    width: 140px;
    top: 184px;
    bottom: 45px;
    left: 5px;
    padding-top: 10px;

    font-weight: bold;
    font-size: 14px;
}

.rightmenu {
    width: 220px;
    top: 184px;
    bottom: 45px;
    right: 5px;
    padding-top: 15px;
}

.mainbody {
    background-color: white;
    top: 184px;
    bottom: 45px;
    left: 155px;
    right: 235px;
}

.footer {
    height: 35px;
    bottom: 5px;
    left: 5px;
    right: 5px;
    font-size: 12px;
    color: gray;
    text-align: center;
    padding-top: 10px;
}
