/* ===== Global Styles ===== */

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: gray;
    background-color: rgb(120, 188, 255);
    min-height: 100vh;
}

/* ===== Text & Lists ===== */

li {
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
}

.resumelistheading {
    font-weight: bold;
    font-style: normal;
    margin-bottom: 10px;
}

.underline {
    text-decoration: underline;
}

.bold {
    font-weight: bold;
}

.justify {
    text-align: justify;
}

/* ===== Links ===== */

a {
    color: blue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: rgb(0, 42, 255);
}

/* ===== Home Page Background ===== */

.homebg {
    background-image: url('../images/byucampus.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* ===== Home Page Hero Section ===== */

.hero {
    height: 450px;
    text-align: center;
    padding-top: 30px;
}

.heroContent {
    position: relative;
    color: white;
}

.hero h1{
  font-size: 60px;
  margin: 20px 0 0 0;
  text-shadow: 2px 2px 6px black;
}


.hero p{
  font-size: 20px;
  margin: 10px 0 0 0;
  text-shadow: 1px 1px 4px black;
}


/* ===== Navigation (Home Page) ===== */

.nav {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 16px;
}

.nav a {
    color: white;
    margin-left: 10px;
}

.nav a:visited {
    color: white;
}

/* ===== Utility Boxes (used elsewhere) ===== */

.box1 {
    border-width: 1px;
    border-style: solid;
    border-color: black;
}

.box2 {
    padding: 5px;
}

.box3 {
    margin: 50px;
}

.fantasyHeader{
  text-align: center;
  padding: 20px 0 10px 0;
}

.fantasyLogo{
  height: 90px;
}

.fantasyNav{
  margin-top: 10px;
}

.fantasyNav a{
  color: blue;
}

.fantasyBox{
  background-color: white;
  width: 900px;
  margin: 20px auto;
  padding: 25px;
}

.fantasyImg{
  height: 180px;
}

.fantasyVideo{
  width: 100%;
  height: 400px;
  border: 0;
}

.fantasyFooter{
  text-align: center;
  color: gray;
  margin: 30px 0;
}
